
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

:root {
    --cor-fundo: #FDBF5C;
    --cor-h1: #F69A0B;
    --cor-texto: #1D2440;
    --cor-botao: #9B0800;
    --cor-botao-hover: #D43A00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "DynaPuff", system-ui;
    background: var(--cor-fundo);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    min-height: 100vh;
}

#musica{
    position: absolute;
    top: 10px;
    right: 10px;
}

#temas {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 10px;
}

#bloco{
    text-align: center;
    padding: 20px;
    padding-bottom: 25px;
    border: 7px solid var(--cor-h1);
    border-radius: 24px;
}

h1 {
    margin-bottom: 30px;
    color: var(--cor-h1);
    font-weight: 700;
    font-size: 4rem;
    text-shadow: 2px 2px 5px #3030309c;
}

#status {
    font-size: 1.7rem;
    margin-bottom: 8px;
    color: var(--cor-texto);
    font-style: italic;
    }

#tempo {
    font-size: 5rem;
    color: var(--cor-h1);
    text-shadow: 2px 2px 5px #3030309c;
    margin-bottom: 30px;
    font-weight: 700;
    letter-spacing: 6px;
    font-family: "DynaPuff", system-ui;
}

input[type="number"] {
    width: 60px;
    padding: 10px 10px;
    margin: 0 12px 20px 0;
    border: 2px solid #353535;
    border-radius: 6px;
    font-size: 1rem;
    outline-offset: 2px;
    transition: border-color 0.3s;
}

input[type="number"]:focus {
     border-color: #828283;
}

label {
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 1.7rem;
    color: var(--cor-botao-hover);
}

button {
    background-color: var(--cor-botao);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 25px;
    margin: 6px 10px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 3px 6px , #353535;
}

button:hover {
    background-color: var(--cor-botao-hover);
    box-shadow: 0 4px 12px var(--cor-botao-hover);
}

@media (max-width: 480px) {
    #tempo {
        font-size: 3.5rem;
    }

    button {
        font-size: 1rem;
        padding: 10px 20px;
    }
}
